.header {
  padding: 20px;
  background-color: #18680e;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header > h1 {
  color: white;
  font-size: 50px;
  font-weight: 500;
}

.header > img {
  width: 50px;
}

.flip {
  transform: scaleX(-1);
}

.header > button {
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-right: 20px;
  padding: 20px;
  background-color: transparent;
  border: none;
}

.header > button > svg {
  color: white;
}

.header > button:hover {
  transform: scale(1.3);
}
