.footer {
  padding: 20px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: #18680e;
  color: white;
}

.footer > div {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: column;
}

.social-links {
  display: flex;
  align-items: start;
  gap: 25px;
}

.social-link {
  display: flex;
  gap: 5px;
}

.social-link > svg {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.social-link > a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
