.main {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  background-color: white;
}

.board {
  border: 1px solid black;
  background-color:white;
  position: relative;
}

.snake-body {
  background-color: green;
  position: absolute;
  box-sizing: border-box;
  border: 0.5px solid black;
}


.fruit {
  background-color: red;
  position: absolute;
  box-sizing: border-box;
  border: 0.5px solid black;
}